<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation de suppression</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(false)"></button>
  </div>
  <div class="modal-body">
    <p>Confimez-vous la suppression du client ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close(true)">Confirmer</button>
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close(false)">Abandonner</button>
  </div>
</ng-template>

<app-template-page [titre]="'Liste des clients'">
<div class="container">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Test</th>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients$ | async">
      <td> {{client.id}} </td>
      <td> {{client.id | tva: 20}} </td>
      <td> {{client.name}} </td>
      <td>
        <a [routerLink]="['../edit', client.id]">
          <app-icon-edit></app-icon-edit>
        </a>
        <a href="javascript:void(0)"
          (click)="confirmDeletion(content, client.id)">
          <app-icon-delete>
          </app-icon-delete>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<a [routerLink]="'../add'" appBtn="outline-primary">
  <app-icon-add></app-icon-add>
</a>
<a [routerLink]="'../add'" appBtn="secondary">
  <app-icon-add></app-icon-add>
</a>
<a [routerLink]="'../add'" appBtn="danger">
  <app-icon-add></app-icon-add>
</a>
<a [routerLink]="'../add'" appBtn="success">
  <app-icon-add></app-icon-add>
</a>
</div>
</app-template-page>
