
<ngb-toast header="Ajout de client" class="bg-success text-light" *ngIf="success"
  (hidden)="goBackToList()">
  Ajout réussi
</ngb-toast>

<ngb-toast header="Ajout de client" class="bg-danger text-light" [delay]="10000" *ngIf="failure"
  (hidden)="failure = false">
  Echec de l'ajout
</ngb-toast>

<fieldset class="fieldset  m-5" [disabled]="failure || success">
  <div class="form-control m-3">
    <label>
      Id :
      <input [(ngModel)]="id" type="number">
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Nom :
      <input [(ngModel)]="name" type="text">
    </label>
  </div>
</fieldset>

<button class="btn btn-outline-primary m-3"
  (click)="ajouter()">
  Ajouter
</button>

<button class="btn btn-outline-secondary m-3">
  <a routerLink="../list">Retour</a>
</button>
