<div>
  Id : {{client.id}}
</div>

<div>
  Nom : {{client.name}}
</div>

<fieldset class="fieldset  m-5">
  <div class="form-control m-3">
    <label>
      Id :
      <input [ngModel]="client.id" type="number" disabled>
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Nom :
      <input [(ngModel)]="client.name" type="text">
    </label>
  </div>
</fieldset>

<button class="btn btn-primary" (click)="update()">Valider</button>
<button class="btn btn-secondary">
  <a [routerLink]="'../../list'">Retour</a>
</button>
